<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>OpenCAT</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @RenderBody()
    @Scripts.Render("~/bundles/ember")
    <script type="text/javascript" src="@Url.Content("~/bundles/templates")"></script>
    @Scripts.Render("~/bundles/application")
    @RenderSection("scripts", required: false)
</body>
</html>
